{% extends "pagine_interne.html" %}

{% block title %}{{ page_title }}{% endblock %}


{% block titolo%}
<span>INFORMATIVA PRIVACY PER L'UTILIZZO DEI COOKIE</span>
{% endblock %}

{% block central %}
<style>
body.body_internals div#central {
height:2000px;
}
</style>
<div class="profilo_body">

  <h2>INFORMATIVA PRIVACY PER L'UTILIZZO DEI COOKIE</h2>

  <p>
    1. Cookie<br/>
I cookie sono file di testo che i siti visitati dagli utenti inviano ai loro terminali e che vengono ritrasmessi ai siti stessi alla visita successiva. I cookie si possono suddividere in due macro-categorie: “cookie di profilazione” e “cookie tecnici”. <br/>
1.1 Cookie di profilazione<br/>
Il sito non utilizza cookie di profilazione, cioè cookie volti a creare profili relativi all'utente al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate nell'ambito della navigazione sul sito di 4Sigma.<br/>
Nessun dato personale degli utenti viene di proposito acquisito dal sito.<br/>
1.2 Cookie tecnici <br/>
Il sito della 4Sigma utilizza cookie tecnici per consentire l’esplorazione sicura, rapida  ed efficiente del sito stesso e per fornire agli utenti i servizi richiesti. Per l'installazione di tali cookie non è richiesto il preventivo consenso degli utenti.<br/>
1.2.1 Cookie tecnici di sessione<br/>
I cookie di sessione sono utilizzati per la navigazione e per l’autenticazione ai servizi online e alle aree riservate. L’uso di questi cookie (che non vengono memorizzati in modo persistente sul computer dell’utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire la navigazione efficace del sito. I cookie di sessione utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l’acquisizione di dati personali identificativi dell’utente.<br/>
L’utilizzo di cookie permanenti è strettamente limitato all’acquisizione dei dati statistici utili a comprendere il livello di utilizzo del proprio sito.<br/>
1.2.2 Cookie analytics<br/>
Sono assimilati ai cookie tecnici e sono utilizzati per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito. I dati ricavabili da questi cookie (compresi gli indirizzi IP) sono gestiti dalla 4Sigma in qualità di gestore del sito esclusivamente per finalità statistiche e per l’elaborazione di report sull’utilizzo del sito stesso. <br/>
1.3 Cookie di terze parti<br/>
Per l’utilizzo di alcuni servizi e/o applicazioni possono essere installati sul terminale degli utenti per il tramite del sito della 4Sigma cookie di terze parti, sulle quali gravano gli obblighi di informativa e consenso. I cookie installati sul sito della 4Sigma per i servizi garantiti da terze parti sono riconducibili a:<br/>
Facebook<br/>
https://it-it.facebook.com/privacy/explanation<br/>
https://www.facebook.com/help/cookies/update<br/>
Twitter<br/>
https://twitter.com/privacy?lang=it<br/>
https://support.twitter.com/articles/20170519-uso-dei-cookie-e-di-altre-tecnologie-simili-da-parte-di-twitter<br/>
Flickr<br/>
https://policies.yahoo.com/us/en/yahoo/privacy/products/flickr/index.htm<br/>
https://www.flickr.com/cookies_howto.gne<br/>
Instagram<br/>
https://instagram.com/about/legal/privacy/<br/>
https://instagram.com/legal/cookies/<br/>
YouTube<br/>
https://www.google.it/intl/it/policies/privacy/<br/>
https://www.google.it/intl/it/policies/technologies/cookies/<br/>
<!--Foursquare<br/>
https://it.foursquare.com/legal/privacy<br/>
https://it.foursquare.com/legal/cookiepolicy<br/>
EXPO<br/>
http://www.expo2015.org/it/informazioni-utili/privacy<br/>
http://www.expo2015.org/it/informazioni-utili/cookie?packedargs=d=Touch<br/>
-->
 <br/>
2. Come disabilitare i cookie (opt-out)<br/>
La maggior parte dei browser accettano i cookies automaticamente, ma è possibile rifiutarli. Se non si desidera ricevere o memorizzare i cookie, si possono modificare le impostazioni di sicurezza del browser (Internet Explorer, Google Chrome, Mozilla Firefox, Safari Opera, ecc…) . Ciascun browser presenta procedure diverse per la gestione delle impostazioni:<br/>
2.1 Microsoft Internet Explorer<br/>
Da “Strumenti” selezionare “Opzioni internet”. Nella finestra pop up selezionare “Privacy” e regolare le impostazioni dei cookies oppure tramite i link<br/>
http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies<br/>
http://windows.microsoft.com/it-it/internet-explorer/delete-manage-cookies#ie=ie-9<br/>
2.2 Google Chrome per Desktop<br/>
Selezionare “Impostazioni”, poi “Mostra impostazioni avanzate”, successivamente nella sezione “Privacy” selezionare “Impostazione Contenuti” e regolare le impostazioni dei cookie oppure accedere tramite link<br/>
https://support.google.com/chrome/bin/answer.py?hl=en&answer=95647&p=cpn_cookies<br/>
https://support.google.com/accounts/answer/61416?hl=it<br/>
2.3 Google Chrome per Mobile<br/>
Accedere tramite link<br/>
https://support.google.com/chrome/answer/2392971?hl=it<br/>
2.4 Mozilla Firefox<br/>
Selezionare “Opzioni” e nella finestra di pop up selezionare “Privacy” per regolare le impostazioni dei cookie, oppure accedere tramite il link http://support.mozilla.org/en-US/kb/Enabling%20and%20disabling%20cookies<br/>
https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie<br/>
2.5 Apple Safari<br/>
Selezionare “Preferenze” e poi “Sicurezza” dove regolare le impostazioni dei cookie oppure accedere tramite il link<br/>
https://support.apple.com/it-it/HT201265<br/>
2.6 Opera<br/>
Selezionare “Preferenze”, poi “Avanzate” e poi “Cookie” dove regolare le impostazioni dei cookie oppure accedere tramite il link http://www.opera.com/help/tutorials/security/cookies/<br/>
http://help.opera.com/Windows/10.00/it/cookies.html<br/>
2.7 Browser nativo Android<br/>
Selezionare “Impostazioni”, poi “Privacy” e selezionare o deselezionare la casella “Accetta cookie”.<br/>
    <br/>
Per i  browser diversi da quelli sopra elencati consultare la relativa guida per individuare le modalità di gestione dei cookie.</p>

</div>

<div class="site-horz-spacer"></div>
<div style="clear:both;"></div>
{% endblock %}

{# vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmldjango tw=2000: #}
