<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Django-cookie-policy by dcosentino</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Django-cookie-policy</h1>
        <h2>A  reusable application for managing visitors consent with respect to the cookies law in Django project.</h2>

        <section id="downloads">
          <a href="https://github.com/dcosentino/django-cookie-policy/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/dcosentino/django-cookie-policy/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/dcosentino/django-cookie-policy" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>
<a id="django-cookie-policy" class="anchor" href="#django-cookie-policy" aria-hidden="true"><span class="octicon octicon-link"></span></a>Django cookie policy</h1>

<p>django-cookie-policy is a reusable application for managing visitors consent with respect to the cookies law in Django project.
It allows a server side control of all the feature of the website that are cookie-related.</p>

<h2>
<a id="features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features</h2>

<ul>
<li><p>a variable called <code>cookie_accepted</code> is added automatically to all the templates</p></li>
<li><p>cookie acceptance banner and cookie policy page are already availbale for customization</p></li>
<li><p>cookies are stored in the visitor browser</p></li>
</ul>

<h2>
<a id="configuration" class="anchor" href="#configuration" aria-hidden="true"><span class="octicon octicon-link"></span></a>Configuration</h2>

<ol>
<li><p>Add <code>cookie_policy</code> to your <code>INSTALLED_APPS</code>.</p></li>
<li><p>Add <code>django.core.context_processors.request</code>
to <code>TEMPLATE_CONTEXT_PROCESSORS</code> if it is not already added.</p></li>
<li>
<p>Include django-cookie-policy urls in <code>urls.py</code>::</p>

<p>url(r'^cookies/', include('cookie_policy.urls'))</p>
</li>
</ol>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

<p>In order to display the cookie policy banner, just add the following lines to your templates:</p>

<pre><code>{% if not cookie_accepted %}
{% include 'cookie_policy/banner.html' %}
{% endif %}
</code></pre>
      </section>
    </div>

    
  </body>
</html>
