<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Django-cookie-policy by dcosentino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Django-cookie-policy</h1>
      <h2 class="project-tagline">A  reusable application for managing visitors consent with respect to the cookies law in Django project.</h2>
      <a href="https://github.com/dcosentino/django-cookie-policy" class="btn">View on GitHub</a>
      <a href="https://github.com/dcosentino/django-cookie-policy/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/dcosentino/django-cookie-policy/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="django-cookie-policy" class="anchor" href="#django-cookie-policy" aria-hidden="true"><span class="octicon octicon-link"></span></a>Django cookie policy</h1>

<p>django-cookie-policy is a reusable application for managing visitors consent with respect to the cookies law in Django project.
It allows a server side control of all the feature of the website that are cookie-related.</p>

<h2>
<a id="features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features:</h2>

<ul>
<li><p>a variable called <code>cookie_accepted</code> is added automatically to all the templates</p></li>
<li><p>cookie acceptance banner and cookie policy page are already availbale for customization</p></li>
<li><p>cookies are stored in the visitor browser</p></li>
</ul>

<h2>
<a id="configuration" class="anchor" href="#configuration" aria-hidden="true"><span class="octicon octicon-link"></span></a>Configuration</h2>

<ol>
<li><p>Add <code>cookie_policy</code> to your <code>INSTALLED_APPS</code>.</p></li>
<li><p>Add <code>django.core.context_processors.request</code>
to <code>TEMPLATE_CONTEXT_PROCESSORS</code> if it is not already added.</p></li>
<li>
<p>Include django-cookie-policy urls in <code>urls.py</code>::</p>

<p>url(r'^cookies/', include('cookie_policy.urls'))</p>
</li>
</ol>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

<p>In order to display the cookie policy banner, just add the following lines to your templates:</p>

<pre><code>{% if not cookie_accepted %}
{% include 'cookie_policy/banner.html' %}
{% endif %}
</code></pre>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/dcosentino/django-cookie-policy">Django-cookie-policy</a> is maintained by <a href="https://github.com/dcosentino">dcosentino</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>

